.settings-page {
    padding: 20px;
    font-family: Arial, sans-serif;
    text-align: center;
  }
  
  .logout-button {
    background-color: #ff4d4d;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 20px;
  }
  
  .logout-button:hover {
    background-color: #ff3333;
  }
  
  .memories-table {
    width: 100%;
    border-collapse: collapse;
  }
  .memories-table th,
.memories-table td {
  padding: 8px;
  border: 1px solid #ddd;
  color: #000;             
}
  .memories-table th {
    background: #f9f9f9;
    text-align: left;
  }